<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">


<div>
    <ul>
      <ng-container *ngFor="let pais of paises">
      <li *ngIf="pais.activo">{{pais.nombre}}</li>
    </ng-container>

      
    </ul>
  </div>


  <div>
    <agm-map [latitude]="lat" [longitude]="lng">
      <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
    </agm-map>
  </div>
</div>

<div>
  <ul>
    <ng-container *ngFor="let pais of paises; let i = index" [ngSwith]="pais.cercano">
      <li [ngStyle]="{color: (pais.activo) ? 'black' : 'gray'}"
      [ngClass]="{numero_par: (i + 1) % 2 !==0}">
      {{pais.nombre}} -
      <span *ngSwithCase=1>Cerca</span>
      <span *ngSwithCase=1>Lejos</span>
      <span *ngSwithCase=1>Muy Lejos</span>
    </li>
    </ng-container>
  </ul>
</div>



<router-outlet></router-outlet>
